<!DOCTYPE html>
<html>
  <head>
    <title>movie Search!</title>
    <link
      rel="stylesheet"
      href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="logSign.css" />
  </head>
  <body>
    <div class="container">
      <div class="text-center">
        <h1 class="title">movie Search!</h1>
        <!-- <img src="img/savage21.jpg" alt="21 Savage Profile Photo"> -->

        <p>Login or Signup:</p>
        <div class="toEnterBoxes">
          <a href="/login" class="btn btn-default"
            ><span class="fa fa-user"></span>Login</a
          >
        </div>
        <div class="toEnterBoxes">
          <a href="/signup" class="btn btn-default"
            ><span class="fa fa-user"></span>Signup</a
          >
        </div>
      </div>
    </div>
  </body>
</html>
