<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>movie Finder App</title>
    <link rel="shortcut icon" href="favicon.ico" />
    <link rel="stylesheet" href="font-awesome.min.css" />
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body>

    <section>
      <h1>Movie Search!</h1>
      <h2>Ever wanna watch something but don't know what to watch?</h2>
  
      <!-- <h3>Messages</h3> -->
  
      <h2>find movies by genre</h2>
  
      <form action="/search" method="GET">
        <select name="genre" id="genresAvailable">
          <option value="27">Horror</option>
          //use id
          <option value="53">Thriller</option>
          <option value="36">history</option>
          <option value="28">Action</option>
          <option value="16">Animation</option>
          <option value="12">Adventure</option>
          <option value="35">Comedy</option>
          <option value="80">Crime</option>
          <option value="99">Documentary</option>
          <option value="18">Drama</option>
          <option value="10751">Family</option>
          <option value="14">Fantasy</option>
          <option value="10402">Music</option>
          <option value="9648">Mystery</option>
          <option value="10749">Romance</option>
          <option value="878">Sci-fi</option>
          <option value="35">tv movie</option>
          <option value="35">War</option>
          <option value="35">Western</option>
        </select>
        <button type="submit">Submit</button>
      </form>
  
      <div>
        <button class="toHome"><a href="/movieSearchPage">home</a></button>
        <button class="toHome"><a href="/profile">profile</a></button>
        <button class="toSavePage">
          <a href="/savedMovies">saved movies</a>
        </button>
      </div>

    </section>
   
    <script src="main.js"></script>
  </body>
</html>
