<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>saved movies page</title>
  <link rel="shortcut icon" href="favicon.ico">
  <link rel="stylesheet" href="font-awesome.min.css">
  <link rel="stylesheet" href="styles.css">
</head>
<body>
  <h1>saved Movies</h1>
  <h2>your to-watch list</h2>
  
  
  <ul class="results">
    <% for(var i=0; i < user.savedMovies.length; i++){%>
      <%# let likedFeature = ' '%>
  <%# if(user.likedMovies[i].like == ''){ %>
 <%# %>
 <%# } else if(user.likedMovies[i].like == false){ %>
 <%# likedFeature = 'disliked' %>
 <%# } else {%>
 <%# likedFeature = 'liked'%>
<%#   } %>
      <li class="message <%# likedFeature%>">
        <h4><%= user.savedMovies[i].title %></h4>  
        <p><%= user.savedMovies[i].genre %></p>
        <p><%= user.savedMovies[i].year %></p>
        <span><i class="fa fa-ticket"></i></span> 
        <span><i class="fa fa-heart"></i></span>
        <span><i class="fa fa-times"></i></span>
      <% } %>   
      <button class='toSearchPage'><a href='/movieSearchpage'>home</a></button>
      <button class='toSavePage'><a href='/moviesSaved'>saved</a></button>
  <script src="main.js"></script>

</body>
</html>
